
.tooltip {
    font-size: 9px;
    padding: 3px;
    color: tomato;
    background: transparent;
}

.borrow-book-btn{
    background-color: inherit;
    color: tomato;
    padding: 0.5px 3px;
    border-color: transparent;
    margin:1px 2px;
}
.borrow-book-btn:hover {
    background-color:tomato;
    color: white;
    border-color: transparent;
}

.modal-content .modal-body >div >p >span {
    color:tomato;
    text-decoration: underline;
}